---
import type { ImageMetadata } from "astro";

interface Props {
  image: ImageMetadata;
  height?: number;
  name: string;
  info: string;
  description: string;
  animationClass?: string;
}

const { image, height = 130, name, info, description, animationClass = "" } = Astro.props;
---

<div class:list={["w-[255px] relative opacity-0", animationClass]}>
  <div class="min-h-[470px] p-6 text-center border-4 border-evm-green-300 bg-black z-10 relative">
    <!-- Corner pixels -->
    <span class="absolute -top-[5px] -right-[5px] w-2 h-2 bg-black block"></span>
    <span class="absolute -bottom-[5px] -right-[5px] w-2 h-2 bg-black block"></span>
    <span class="absolute -top-[5px] -left-[5px] w-2 h-2 bg-black block"></span>
    <span class="absolute -bottom-[5px] -left-[5px] w-2 h-2 bg-black block"></span>

    <div class="flex flex-col items-center gap-2 overflow-hidden">
      <div class="h-[160px] flex items-center justify-center">
        <img src={image.src} alt={name} style={`height: ${height}px`} />
      </div>
      <span class="text-[15px] text-evm-green-300 font-bold font-head">{name}</span>
      <span class="text-[15px] font-bold font-clearer text-white">{info}</span>
      <span class="text-[13px] font-clearer text-white">{description}</span>
    </div>
  </div>
  <div class="absolute inset-0 translate-x-[25px] translate-y-[25px] border-4 border-evm-green-300">
    <span class="absolute -top-[5px] -right-[5px] w-2 h-2 bg-black block"></span>
    <span class="absolute -bottom-[5px] -right-[5px] w-2 h-2 bg-black block"></span>
    <span class="absolute -top-[5px] -left-[5px] w-2 h-2 bg-black block"></span>
    <span class="absolute -bottom-[5px] -left-[5px] w-2 h-2 bg-black block"></span>
  </div>
</div>
